{% extends "base.html" %}
{% load static %}

{% block title %}Moonlight Architecture Studio{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock %}

{% block content %}
  <section class="home-hero" aria-label="Moonlight Architecture Studio">
    <img class="home-hero__image" src="{% static 'img/home/Rectangle 3.png' %}" alt="">
    <div class="home-hero__copy">
      <h1>MOONLIGHT<br>ARCHITECTURE STUDIO</h1>
      <p>There are many variations of passages of Lorem<br>Ipsum available, but the majority have suffered<br>alteration in some form, by injected humour</p>
      <a class="home-button home-button--outline home-hero__button" href="#">View More</a>
    </div>
  </section>

  <section class="home-intro" aria-label="Our Specialization">
    <div class="home-specialization">
      <h2>OUR<br>SPECIALIZATION.</h2>
      <h3>ARCHITECTURE</h3>
      <p>It is a long established fact that a<br>reader will be distracted by the<br>readable content of a page when<br>looking at its layout. The point of<br>using Lorem Ipsum is that it has a<br>more</p>
      <div class="home-specialization__nav">
        <button type="button" class="home-specialization__previous">Previous</button>
        <button type="button" class="home-specialization__next">Next</button>
      </div>
    </div>
    <img class="home-intro__image" src="{% static 'img/home/Rectangle 8.png' %}" alt="">
    <div class="home-works">
      <h2>WE TURN IDEAS INTO<br>WORKS OF ART.</h2>
      <p>It is a long established fact that a reader will be<br>distracted by the readable content of a page when<br>looking at its layout. The point of using Lorem Ipsum is<br>that it has a more-or-less normal distribution of letters,<br>as opposed to using 'Content here, content here',<br>making it look like readable English. Many desktop<br>publishing packages and web page editors now use<br>Lorem Ipsum as their.</p>
      <a class="home-button home-button--outline home-works__button" href="#">View More</a>
    </div>
  </section>

  <section class="home-projects" aria-label="Our Projects">
    <div class="home-section-title home-projects__title">
      <p>OUR PROJECTS.</p>
      <div>
        <h2>We like to build<br>Things people use.</h2>
        <span></span>
      </div>
    </div>
    <div class="home-projects__mosaic">
      <img class="home-projects__drawing" src="{% static 'img/home/Rectangle 9.png' %}" alt="">
      <img class="home-projects__tower-white" src="{% static 'img/home/Rectangle 9 copy.png' %}" alt="">
      <article class="home-projects__card">
        <h3>SED UT PERSPICIATIS</h3>
        <p>There are many variations of passages<br>of Lorem Ipsum available, but the<br>majority have suffered alteration in<br>some form, by injected humour, or<br>randomised</p>
        <a href="#">View Project</a>
      </article>
      <img class="home-projects__pipes" src="{% static 'img/home/Rectangle 9 copy 11.png' %}" alt="">
      <img class="home-projects__column" src="{% static 'img/home/Rectangle 9 copy 2.png' %}" alt="">
      <img class="home-projects__glass" src="{% static 'img/home/Rectangle 9 copy 3.png' %}" alt="">
      <img class="home-projects__water" src="{% static 'img/home/Rectangle 9 copy 4.png' %}" alt="">
    </div>
  </section>

  <section class="home-testimonials" aria-label="Our Client">
    <div class="home-testimonials__rule"></div>
    <div class="home-section-title home-testimonials__title">
      <p>OUR CLIENT.</p>
      <div>
        <h2>What others say<br>about our work.</h2>
        <span></span>
      </div>
    </div>
    <div class="home-testimonials__cards">
      <article class="home-testimonial">
        <blockquote>"Sed ut perspiciatis unde omnis iste natus error sit<br>voluptatem accusantium doloremque laudantium, totam<br>rem aperiam, eaque ipsa quae ab illo inventore veritatis et<br>quasi architecto beatae</blockquote>
        <span>”</span>
      </article>
      <article class="home-testimonial">
        <blockquote>"Sed ut perspiciatis unde omnis iste natus error sit<br>voluptatem accusantium doloremque laudantium, totam<br>rem aperiam, eaque ipsa quae ab illo inventore veritatis et<br>quasi architecto beatae</blockquote>
        <span>”</span>
      </article>
      <article class="home-testimonial home-testimonial--accent">
        <blockquote>"Sed ut perspiciatis unde omnis iste natus error sit<br>voluptatem accusantium doloremque laudantium, totam<br>rem aperiam, eaque ipsa quae ab illo inventore veritatis et<br>quasi architecto beatae</blockquote>
        <span>”</span>
      </article>
    </div>
    <div class="home-testimonials__names">
      <p><strong>Phillip Cummings</strong><br>CEO - Jooant JC</p>
      <p><strong>Ryan Moore</strong><br>CEO - Digital BB</p>
      <p><strong>Chester Gibson</strong><br>Maketing Manager</p>
    </div>
  </section>

  <section class="home-clients" aria-label="Client Logos">
    <div class="home-clients__grid">
      <img src="{% static 'img/clients/Layer 1.png' %}" alt="Miller">
      <img src="{% static 'img/clients/Layer 2.png' %}" alt="The Don">
      <img src="{% static 'img/clients/Layer 3.png' %}" alt="The Spades">
      <img src="{% static 'img/clients/Layer 4.png' %}" alt="Creative">
      <img src="{% static 'img/clients/Layer 5.png' %}" alt="Jackerson">
      <img src="{% static 'img/clients/Layer 6.png' %}" alt="The White">
      <img src="{% static 'img/clients/l3.png' %}" alt="Bicycle Company">
      <img src="{% static 'img/clients/logo_partner-3.png' %}" alt="Handmade">
      <img src="{% static 'img/clients/11.png' %}" alt="Round logo">
      <img src="{% static 'img/clients/logo_partner-8.png' %}" alt="Steve Harold">
      <img src="{% static 'img/clients/l4.png' %}" alt="Tasty Treats">
      <img src="{% static 'img/clients/Layer 1 copy.png' %}" alt="Miller">
    </div>
  </section>

  <section class="home-news" aria-label="Latest News">
    <div class="home-section-title home-news__title">
      <p>LATEST NEWS.</p>
      <div>
        <h2>Updated news<br>about architecture.</h2>
        <span></span>
      </div>
    </div>
    <div class="home-news__feature">
      <img src="{% static 'img/home/Rectangle 15.png' %}" alt="">
      <article>
        <h3>Study 800 Numbers Still<br>Popular With</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore<br>veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam<br>voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur<br>magni</p>
        <a href="#">View Project</a>
      </article>
      <button type="button">NEXT</button>
    </div>
  </section>
{% endblock %}
