<footer class="site-footer">
  <div class="site-footer__inner">
    {% if show_footer_quote %}
      {% include "includes/testimonial_box.html" %}
    {% endif %}
    <div class="site-footer__contact-grid">
      <section class="footer-contact">
        <h2>Call us</h2>
        <p>Sale (+84) 876-5445-234</p>
        <p>Support(+84) 876-7595-245</p>
      </section>
      <section class="footer-contact">
        <h2>Write</h2>
        <p>Support@yourdomain.com</p>
        <p>Sale@yourdomain.com</p>
      </section>
      <section class="footer-contact">
        <h2>Visit</h2>
        <p>1939 Bart Flat - New York</p>
        <p>View on map</p>
      </section>
    </div>
    <p class="site-footer__copyright">© Moonligt 2017. All rights reserved</p>
  </div>
</footer>
